 
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Acceuil{% endblock %}</title>
 {% block stylesheets %}
     <link rel="icon" href="/images/favicon.png">
         <link rel="stylesheet"   href="/css/blog.css">
         <link rel="stylesheet"   href="/bootstrap.min.css">
         <link rel="stylesheet"   href="/js/jquery-3.4.1.js">
         <link rel="stylesheet"   href="/js/bootstrap.min.js">
         <link rel="stylesheet"   href="/js/popper.js">
		 <link rel="stylesheet"   href="/css/font-awesome.css">
     
<link rel="stylesheet" type="text/css" href="https://www.fonekkdocteur.com/styles/bootstrap4/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://www.fonekkdocteur.com/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="https://www.fonekkdocteur.com/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="https://www.fonekkdocteur.com/plugins/OwlCarousel2-2.2.1/animate.css">


<link rel="stylesheet" type="text/css" href="https://www.fonekkdocteur.com/styles/responsive.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"   href="/css/bootstrap-theme.css">




 {% endblock %}

   {% block javascripts %}
   
   {% endblock %}

<link href="bootstrap/css/bootstrap.min.css"rel="stylesheet">
        <script src="bootstrap/js/jquery-3.4.1.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="bootstrap/js/popper.js"></script>

</head>

<body>


 {% block body %}

<div class="container5">
  <div class="row">
    <div class="col-6">

           <a href="{{path('acceuil')}}">   <h3 contenteditable data-heading="Frozen" 
                style=" left: 20%;
                color: transparent;
                font-size: 5vw;
                margin: 0;
                font-family: 'frozen', serif;
                font-weight: 700;
                background: url(/images/8.jpg);
                -webkit-background-clip: text;
                background-size: contain;
                width: 100%; 
                font-weight: 900;">MyRendez-Vous
            </h3></a>
    </div>
	
	
    <div class="col">
     <p><strong>TELEPHONE: 33 854 00 00 |<a href="inscription">Compte </a></strong><p> 
    </div>
  </div>
  <div class="row_2">
   
   <nav>
<ul> 
<li><form action="#" id="searchthis" method="get">
<input id="search" name="q" type="text" placeholder="Que recherhez-vous?" />
<input id="search-btn" type="submit" value="Rechercher" />
</form></li>



</ul>
</nav>
  </div>
</div>
<div class="topnav" id="myTopnav">
  <a href="{{path('acceuil')}}" class="active"><strong>ACCEUIL</strong></a>
  <a href=mespages/hopitaux><strong>HOPITAUX</strong></a>
  <a href=mespages/specialiste><strong>SPECIALISTES</strong></a>
  <a href=/inscription><strong>RENDEZ-VOUS</strong></a>
   <a href=mespages/contact><strong>CONTACT</strong></a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>



<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>


<div id="home">
    <div id="carousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                <img src="MEDCIN/17.jpg" alt="" height=500px width=100%>
				
    <div class="carousel-caption"><h4>POUR PRENDRE SOIN DE VOTRE<br> SANTÉ</h4> </div>
</div> 
</div> 
</div> 
</div> 

 <div id="about">
  
    
	<div class="container">
		<div class="row">
			
			<div class="col-lg-12 text-center">
			<br><br><h3><span class="merabi">Bienvenue dans votre site web </span></h3><h3>MyRendez-Vous</h3>
				
			<p class="mecoo">Nos médecins spécialistes se soucient de vous et de la santé de votre famille</p>
			</div>
		   
		</div>
    </div>
</div>


 <div class="row_3">
 <h3><pre><img src="/images/trouv.PNG">               <img src="/images/date.PNG">                   <img src="/images/conf.PNG">  </pre></h3>

 <div class="container-fluid">
    
<div id="parallax2" class="parallax">
<div class="bg2 parallax-bg"></div>
<div class="overlay"></div>
<div class="container">
<div class="parallax-content visible-lg visible-md hidden-sm hidden-xs">
<div class="parallax_txt1">BESOIN D'UN MÉDECIN POUR UN VISITE ?</div>
<div class="parallax_txt2">PRENEZ UN RENDEZ-VOUS</div>
</div></div></div></div>
 
 </div>






<script>

h1.addEventListener("input", function() {
    this.setAttribute("data-heading", this.innerText);
});
</script>
 
<br>
<div class="my" style="background-color:#D0CBCB;">
<div class="container" >
  <div class="row" >
</br>
 </div>

<div class="container">
  <div class="row">
    <div class="col">
   <DIV CLASS="toto" style="position:absolute; margin-top:-20px; margin-left:10px;"><IMG SRC="/images/ho.jpg" BORDER=0 WIDTH=50 HEIGHT=50>
      <div class="carousel-captions"> <a href="mespages/specialiste"><h4>PROFESSIONNEL DE SANTÉ</h4></a> </div></DIV>
     
     <a href="mespages/specialiste"> <DIV><IMG SRC="/images/6.jpg" BORDER=0 WIDTH=400 HEIGHT=200></DIV></a>

    </div>
    <div class="col">
    <DIV CLASS="toto" style="position:absolute; margin-top:-20px; margin-left:10px;"><IMG SRC="/images/med.PNG" BORDER=0 WIDTH=50 HEIGHT=50>
       <div class="carousel-captions"> <a href="mespages/specialiste"><h4 style="width:375px;">Praticien en thérapie complémentaire</h4></a> </div></DIV>
     
     <a href="mespages/specialiste"><DIV><IMG SRC="/images/th3.jpg" BORDER=0 WIDTH=400 HEIGHT=200></DIV></a>

    </div>
  
    <div class="w-100"></div>
    <div class="col">
    <br><br>
   <DIV CLASS="toto" style="position:absolute; margin-top:-20px; margin-left:10px;"><IMG SRC="/images/med.PNG" BORDER=0 WIDTH=50 HEIGHT=50>   
          <div class="carousel-captions"> <a href="mespages/specialiste"><h4 style="width:375px;">SAGES FEMMES DE SANTÉ </h4></a> </div></DIV>

     <a href="mespages/specialiste"><DIV><IMG SRC="/images/1.jpg" BORDER=0 WIDTH=400 HEIGHT=200></DIV></a>

    </div>
    <div class="col">
    <br><br>
 <div class="card" style="width:400px; height:215px; background-color:#eee;">
        
        <div class="card-body"  >
           
            <p class="card-text">
             <strong>  Pourquoi utiliser MyRendez-Vous ?</strong>
              <DIV CLASS="toto" style=""><IMG SRC="/images/m.PNG" BORDER=0 WIDTH=20 HEIGHT=20> <strong>Ça marche !</strong></DIV>
            Evite les deplacements unitules des utilisateurs
         <DIV CLASS="toto" style=""><IMG SRC="/images/l.PNG" BORDER=0 WIDTH=20 HEIGHT=20><strong> C'est gratuit et rapide</strong></DIV>
              Confirmation du RDV en quelques clics
         <DIV CLASS="toto" style=""><IMG SRC="/images/s.PNG" BORDER=0 WIDTH=20 HEIGHT=20><strong>  C'est sécurisé</strong></DIV>
           Sure et Données de Santé crypté a 98%
            </p>
        </div>
    </div>
    <br>
    </div>
  </div>
</div>

</div>

</div>



</br>




<div class="container6">
 <div class="row">
    <div class="col-sm" style="margin-left:20px; margin-right:20px;">
	    
   <div class="card">
        <img src="/images/rv.PNG" class="card-img-top" alt="rendez-vous">
        <div class="card-body">
            <h3 class="card-title">MyRendez-Vous</h3>
            <p class="card-text" style="text-align:left; ">
               MyRendez-Vous vous propose gratuitement un système de prise de rendez-vous par internet
                simple à utiliser et efficace. Une simple recherche sur MyRendez-Vous.com par le nom du
                 professionnel ou par spécialité et ville vous permet de trouver en un clic un professionnel
                  disponible près de chez vous.
                  <br>
                 <strong> Pourquoi choisir MyRendez-Vous ?</strong><br>
La simplicité du système vous permet en tant que patient ou client de prendre vos rendez-vous en
 quelques clics sans même avoir besoin de créer un compte.
Votre rendez-vous est confirmé immédiatement, vous recevez une confirmation par E-mail 
dans les minutes qui suivent, pas besoin d'attendre pour savoir si votre rendez-vous est
 validé ou non par le professionnel.
            </p>
        </div>
    </div>

	</div>
	
    <div class="col-sm">
	    
   <div class="card">
        <img src="/images/med.jpg" class="card-img-top" alt="Accroche HTML">
        <div class="card-body">
            <h3 class="card-title">Nos Medecins</h3>
            <p class="card-text" style="text-align:left;">
            Un médecin est un professionnel de la santé titulaire d'un diplôme de docteur en médecine ou, 
            Il soigne selon ses spécialisations les maladies, pathologies et blessures. Il travaille généralement
             au sein d'une équipe de professionnels de la santé comme le psychologue, le pharmacien,
              le physicien médical, l'infirmier ou le chirurgien-dentiste. 
            </p>
        </div>
    </div>

	</div>
	
    <div class="col-sm">
	    
   <div class="card">
        <img src="/images/relation.jpg" class="card-img-top" alt="Accroche HTML">
        <div class="card-body">
            <h3 class="card-title">Relation médecin-patient : Droits et devoirs</h3>
            <p class="card-text" style="text-align:left;">
                <br>
Toute personne a le droit d’être informée sur son état de santé. Cette information porte sur 
les différentes investigations, traitements ou actions qui lui sont proposés, leur utilité, leur urgence 
éventuelle, leurs conséquences, les risques fréquents ou graves normalement prévisibles qu’ils comportent
 ainsi que les autres solutions possibles et les conséquences prévisibles en cas de refus. Seule l’urgence
  ou l’impossibilité d’informer peut dispenser le professionnel de santé de cette obligation.
            </p>
        </div>
    </div>

	</div>
	
  </div>
  </div>




<!-- Departments -->

	<div class="departments">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title">Departements</div>
				</div>
			</div>
			<div class="row dept_row">
				<div class="col">
					<div class="dept_slider_container_outer">
						<div class="dept_slider_container">

							<!-- Slider -->
							<div class="owl-carousel owl-theme dept_slider">
								
								<!-- Slide -->
								<div class="owl-item dept_item">
									<div class="dept_image"><img src="/images/1.jpg" alt=""></div>
									<div class="dept_content">
										<div class="dept_title">néonatologie</div>
										<div class="dept_link"><a href="https://hopitalsaintjeandedieusn.wordpress.com/pediatrie-neonatologie/">lire la suite</a></div>
									</div>
								</div>

								<!-- Slide -->
								<div class="owl-item dept_item">
									<div class="dept_image"><img src="/images/dent.jpg" alt=""></div>
									<div class="dept_content">
										<div class="dept_title">Dentisterie</div>
										<div class="dept_link"><a href="https://www.starofservice.sn/demandes/dakar/soin-dentaire">lire la suite</a></div>
									</div>
								</div>

								<!-- Slide -->
								<div class="owl-item dept_item">
									<div class="dept_image"><img src="/images/cardio.jpg" alt=""></div>
									<div class="dept_content">
										<div class="dept_title">Cardiology</div>
										<div class="dept_link"><a href="https://www.passeportsante.net/fr/specialites-medicales/Fiche.aspx?doc=orthopedie">lire la suite</a></div>
									</div>
								</div>

								<!-- Slide -->
								<div class="owl-item dept_item">
									<div class="dept_image"><img src="/images/labo.jpg" alt=""></div>
									<div class="dept_content">
										<div class="dept_title">Laboratoire</div>
										<div class="dept_link"><a href="https://labobio24.com/">lire la suite</a></div>
									</div>
								</div>

							</div>
							
						</div>

						<!-- Dept Slider Nav -->
						<div class="dept_slider_nav"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>

					</div>
						
				</div>
			</div>
		</div>
	</div>
 </br>
 



<div class="stuff">
		<div class="container">
			<div class="row">

				<!-- FAQ -->
				<div class="col-lg-7">
					<div class="faq">
						<div class="faq_title">Maladies infectieuses</div>
						<div class="elements_accordions">
							<div class="accordions">

								<div class="accordion_container">
									<div class="accordion d-flex flex-row align-items-center active"><div>Panaris</div></div>
									<div class="accordion_panel">
										<div>
											<p  style="text-align:left;">
                        Dans la plupart des cas, le panaris est une infection bactérienne survenant sur le pourtour ou le dessous de l’ongle. Il se déclenche surtout chez les sujets qui rongent leurs ongles ou qui présentent des ongles coupés trop courts. En principe, les doigts des mains sont plus affectés que les orteils des pieds.</p>
									
										</div>
									</div>
								</div>

								<div class="accordion_container">
									<div class="accordion d-flex flex-row align-items-center"><div>Tuberculose</div></div>
									<div class="accordion_panel">
										<div>
											<p style="text-align:left;">La tuberculose est une maladie contagieuse d’origine bactérienne. Il s’agit de la deuxième maladie infectieuse la plus mortelle après le Virus de l’Immunodéficience Humaine (VIH/SIDA).

												Malgré les traitements et le vaccin disponibles, la tuberculose n’est toujours pas éradiquée. Cette maladie cause la mort d’environ d’1.5 millions de personnes chaque année à travers le monde.</p>
										<img src="/images/tuber.jpg" alt="">
										</div>
									</div>
								</div>

								<div class="accordion_container">
									<div class="accordion d-flex flex-row align-items-center"><div>Sinusite</div></div>
									<div class="accordion_panel">
										<div>
											<p  style="text-align:left;">La sinusite correspond à une inflammation des sinus. Les sinus sont des cavités osseuses recouvertes d’une muqueuse et réparties en quatre paires situées dans les os du visage. Chaque sinus communique avec les fosses nasales grâce à de petites ouvertures à travers lesquelles s’écoulent normalement le mucus.</p>
											<img src="/images/sinus.jpg" alt="">
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

				<!-- Latest News -->
				<div class="col-lg-5">
					<div class="news">
						<div class="news_title">Dernières Infos</div>
						<div class="news_container">

							<!-- Latest News Post -->
							<div class="latest d-flex flex-row align-items-start justify-content-start">
								<div><div class="latest_image"><img src="images/dent.jpg" alt=""></div></div>
								<div class="latest_content">
									<div class="latest_title"><a href="http://sante.lefigaro.fr/medecine">Contraception: non, la pilule ne fait pas rétrécir le cerveau des femmes</a></div>
								</div>
							</div>

							<!-- Latest News Post -->
							<div class="latest d-flex flex-row align-items-start justify-content-start">
								<div><div class="latest_image"><img src="images/avortement.PNG" alt=""></div></div>
								<div class="latest_content">
									<div class="latest_title"><a href="https://partenariatouaga.org/debat-lavortement-medicalise-senegal-entre-lobbying-resistance/">Débat sur l’avortement médicalisé au Sénégal: Entre lobbying et résistance</a></div>
									
									
								</div>
							</div>

							<!-- Latest News Post -->
							<div class="latest d-flex flex-row align-items-start justify-content-start">
								<div><div class="latest_image"><img src="/images/loi.PNG" alt=""></div></div>
								<div class="latest_content">
									<div class="latest_title"><a href="#">Une loi criminalisant le viol et la pédophilie votée au Sénégal</a></div>
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

 </br>
 
 	
 </br>


<!-- Footer -->

	<footer class="footer" style="background-image: url('footer.jpg');>
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="t.jpg" data-speed="0.8"></div>
		<div class="footer_content">
			<div class="container">
				<div class="row">

					
					

					
				</div>
			</div>
		</div>
		<div class="footer_bar"  style="background-color:#232323 ;">
			<div class="container">
				<div class="row">
					<div class="col"   >
						<div class="footer_bar_content d-flex flex-sm-row flex-column align-items-lg-center align-items-start justify-content-start">
							<nav class="footer_nav" style="background-color:#232323 ">
								<ul class="d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
									<li class="m"><a href="{{path('acceuil')}}"><strong> ACCEUIL</strong> </a> 
										<li class="m">  <a href=mespages/hopitaux><strong>HOPITAUX</strong></a> </li>
										<li class="m"><a href=mespages/specialiste><strong>SPECIALITES</strong></a></li> 
										<li class="m"><a href=/inscription><strong>RENDEZ-VOUS</strong></a> </li>
										<li class="m"><a href=mespages/contact><strong>CONTACTER-NOUS</strong></a></li>
								</ul>
							</nav>

							
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
<script src="https://www.fonekkdocteur.com/js/jquery-3.3.1.min.js"></script>
<script src="https://www.fonekkdocteur.com/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="https://www.fonekkdocteur.com/plugins/easing/easing.js"></script>
<script src="https://www.fonekkdocteur.com/plugins/parallax-js-master/parallax.min.js"></script>

<script src="https://www.fonekkdocteur.com/js/custom.js"></script>


{% endblock %}
    </body>
</html>