<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Identification{% endblock %}</title>
 {% block stylesheets %}
 <link rel="icon" href="/images/favicon.png">
         <link rel="stylesheet"   href="/css/blog.css">
          <link rel="stylesheet"   href="/css/auth.css">
         <link rel="stylesheet"   href="/bootstrap.min.css">
         <link rel="stylesheet"   href="/js/jquery-3.4.1.js">
         <link rel="stylesheet"   href="/js/bootstrap.min.js">
         <link rel="stylesheet"   href="/js/popper.js">
		 <link rel="stylesheet"   href="/css/font-awesome.css">
		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		 <link rel="stylesheet"   href="/css/bootstrap-theme.css">
 {% endblock %}

   {% block javascripts %}
   
   {% endblock %}

<link href="bootstrap/css/bootstrap.min.css"rel="stylesheet">
        <script src="bootstrap/js/jquery-3.4.1.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="bootstrap/js/popper.js"></script>

</head>

<body>


 {% block body %}

<div class="container5">
    <div class="row">
        <div class="col-6">
           <a href="{{path('acceuil')}}">   <h3 contenteditable data-heading="Frozen" 
                style=" left: 20%;
                color: transparent;
                font-size: 5vw;
                margin: 0;
                font-family: 'frozen', serif;
                font-weight: 700;
                background: url(/images/8.jpg);
                -webkit-background-clip: text;
                background-size: contain;
                width: 100%;">MyRendez-Vous
            </h3></a>
        </div>
         <div class="col">
          <p><a href="mespages/inscription">Ouvrir un Compte </a></strong><p> 
        </div>
  </div>
    </div>
</div>
        

 <!-- zone de connexion -->

<div id="container">
           
            
            <form novalidate method="POST">
                <h4>Se Connecter</h4>
                  <img  class="secu" src="/images/iden.jpg" alt="" height="70"><br>
                
                <label><b>Nom d'utilisateur</b></label>
                <input type="email" placeholder="Entrer le nom d'utilisateur"  id="email" name="email" required autofocus>

                <label><b>Mot de passe</b></label>
                <input type="password" placeholder="Entrer le mot de passe" id="password" name="password" required >

                <input type="submit" id='submit' value='Connexion' >
               
            </form>
</div>
   






<br><br>


{% endblock %}
    </body>
</html>