<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Contact{% endblock %}</title>
 {% block stylesheets %}
  <link rel="icon" href="/images/favicon.png">
         <link rel="stylesheet"   href="/css/blog.css">
         <link rel="stylesheet"   href="/bootstrap.min.css">
         <link rel="stylesheet"   href="/js/jquery-3.4.1.js">
         <link rel="stylesheet"   href="/js/bootstrap.min.js">
         <link rel="stylesheet"   href="/js/popper.js">
		 <link rel="stylesheet"   href="/css/font-awesome.css">
		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		 <link rel="stylesheet"   href="/css/bootstrap-theme.css">
 {% endblock %}

   {% block javascripts %}
   
   {% endblock %}

<link href="bootstrap/css/bootstrap.min.css"rel="stylesheet">
        <script src="bootstrap/js/jquery-3.4.1.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="bootstrap/js/popper.js"></script>

</head>

<body>


 {% block body %}

<div class="container5">
  <div class="row">
   
	
    
	
    <div class="col-6">

     <a href="{{path('acceuil')}}">  <h3 contenteditable data-heading="Frozen" style=" left: 20%;
      color: transparent;
      font-size: 5vw;
      margin: 0;
      font-family: 'frozen', serif;
      font-weight: 700;
      background: url(/images/8.jpg);
        -webkit-background-clip: text;
      background-size: contain;
      width: 100%;
      font-weight: 900;">MyRendez-Vous </h3></a>
    </div>
	
	
    <div class="col">
     <p>TELEPHONE: 33 854 00 00 |<a href="/inscription">Compte </a><p> 
    </div>
  </div>
  <div class="row_2">
   
   <nav>
<ul> 
<li><form action="#" id="searchthis" method="get">
<input id="search" name="q" type="text" placeholder="Que recherhez-vous?" />
<input id="search-btn" type="submit" value="Rechercher" />
</form></li>


</ul>
</nav>
  </div>
</div>
<div class="topnav" id="myTopnav">
  <a href="{{path('acceuil')}}" class="active"><strong>ACCEUIL</strong></a>
  <a href=hopitaux><strong>HOPITAUX</strong></a>
  <a href=specialiste><strong>SPECIALISTES</strong></a>
  <a href=/inscription><strong>RENDEZ-VOUS</strong></a>
   <a href=mespages/contact><strong>CONTACT</strong></a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>


<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
<div id="home">
    <div id="carousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                <img src="/MEDCIN/HOPI/RV6.jpg" alt="" height=300px width=100%>
				
    <div class="carousel-caption"><h4>POUR PRENDRE SOIN DE VOTRE<br> SANTÉ</h4> </div>
</div> 
</div> 
</div> 
</div> 
</br></br>
<div class="stuff">
		<div class="container">
			<div class="row">

			<!-- FAQ -->
				<div class="col-lg-7">
					<div class="faq">
						<div class="faq_title">Entrer en Contact</div>
						<div class="elements_accordions">
							<div class="accordions">

								<form>
      <div class="form-group">
           <div class="form-row">
          <label class="col-md-3" for="nom">Nom</label> 
          <div class="col-md-9">
              <input id="nom" type="text" class="form-control" name="" placeholder="Entrer votre nom">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <label class="col-md-3" for="mail">Email</label> 
          <div class="col-md-9">
               <input id="mail" type="text" class="form-control" name="" placeholder="Entrer votre mail">
          </div>
        </div>
      </div>

	  <div class="form-group">
    <label for="exampleFormControlTextarea1">Message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
      
      <div class="form-group">
        <div class="row">
          <div class="col-md-1 offset-md-11">
                 <button class="btn btn-warning">Envoyer</button>
            </div>
        </div>
      </div>
    </form>
								</div>
									</div>
								</div>
								 </div>



                 

<div class="container">
         <p class="w-90 bg-info mt-2 p-2">         
<div class="float-md-left"><div class="faq">
 
				   <div class="news_title">Contact Info</div>  <br> 
           <p> <strong> Address: </strong>  Dakar Point E </p><br>
           <p> <strong>Email :</strong> aichamariemdiaga@gmail.com </p><br>
          <p>  <strong>Phone: </strong> 33 854 00 00</p>

           </div></div><br>
<div class="float-md-right"><div class="news"> 
						<div class="news_title">Disponibilité</div></br>
             <p> <strong> lundi-jeudi: </strong> 8h:20h     </p><br>
              <p> <strong> vendredi: </strong> 9h:19h     </p><br>
               <p> <strong> samedi: </strong> 10h:19h     </p><br>
                <p> <strong> dimanche: </strong> 11h:17h     </p><br>



						<div class="news_container">
						

							</div>
									</div>
								</div>
								</div></div></div>
 </div></p>
         


       </div>



 </br></br></br></br></br>
 </br></br></br>


<!-- Footer -->
<div id="home">
    <div id="carousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                <img src="/MEDCIN/HOPI/RV6.jpg" alt="" height=300px width=100%>
				
    <div class="carousel-caption"><h4>POUR PRENDRE SOIN DE VOTRE<br> SANTÉ</h4> </div>
</div> 
</div> 
</div> 
</div> 
	<footer class="footer" style="background-image: url('footer.jpg');>
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="t.jpg" data-speed="0.8"></div>
		<div class="footer_content">
			<div class="container">
				<div class="row">

					
					

					
				</div>
			</div>
		</div>
	<div class="footer_bar"  style="background-color:#232323 ;">
			<div class="container">
				<div class="row">
					<div class="col"   >
						<div class="footer_bar_content d-flex flex-sm-row flex-column align-items-lg-center align-items-start justify-content-start">
							<nav class="footer_nav" style="background-color:#232323 ">
								<ul class="d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
									<li class="m"><a href="{{path('acceuil')}}"><strong> ACCEUIL</strong> </a> 
										<li class="m">  <a href=mespages/hopitaux><strong>HOPITAUX</strong></a> </li>
										<li class="m"><a href=mespages/specialiste><strong>SPECIALITES</strong></a></li> 
										<li class="m"><a href=/inscription><strong>RENDEZ-VOUS</strong></a> </li>
										<li class="m"><a href=mespages/contact><strong>CONTACTER-NOUS</strong></a></li>
								</ul>
							</nav>

							
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>




{% endblock %}
    </body>
</html>